.App {
  position: relative;

  display: flex;
  flex-direction: column;
  place-items: center;

  height: 100%;
  width: 100%;

  .title {
    margin-top: 5rem;
    padding-bottom: 2rem;
    font-size: 1.5rem;
    text-align: center;
  }

  .input-container {
    display: flex; flex-direction: column;
    width: 50%;
    margin-bottom: 4rem;
    input { display: none; }
    label {
      cursor: pointer;
      background-color: #1b1b1b;
      box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.15);
      font-size: 1.25rem;
      border-radius: 20px;
      padding: 2rem 4rem 2rem 4rem;
      text-align: center;
      &:hover { scale: 1.015; }
      &:active { scale: 0.995; }
      transition: all ease-in-out 150ms;
    }
  }

  .content-container {

    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 75%;

    justify-content: center;
    
    .textContainer {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 0 1rem;
      .content-text {
        display: flex;
        place-content: start;
        width: 100%;
        padding-left: 1rem;
        padding-bottom: 0.5rem;
        font-size: 1.15rem;
        font-weight: 600;
      }
      
      .content {
        background-color: #1b1b1b;
        border: none;
        outline: none;
        resize: none;
        
        box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.15);
        font-size: 1.25rem;
        border-radius: 20px;
        padding: 2rem;
        text-align: justify;
      }
    }

  }

  footer {
    position: absolute;
    margin: 0rem 1rem 1rem 0;
    font-weight: 100;
    font-size: 0.85rem;
    text-align: end;
    width: 100%;
    bottom: 0%;
  }
}
