.TreeContainer {
  display: flex; flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 500px;

  .node-root, .node-branch, .node-leaf { 
    & > circle {
      r: 20;
      fill: white;
      stroke: rgb(82, 122, 255);
      stroke-width: 3px;
    }
  }

  /*.node-branch > circle { fill: white; stroke: rgb(82, 122, 255); stroke-width: 3px; }

  .node-leaf > circle { fill: white; stroke: rgb(82, 122, 255); stroke-width: 3px; }*/

  .node-link { stroke-width: 4px; stroke: white !important; }

  .svg-styles {
    .rd3t-label {
      text { fill: white !important; }
    }
  }

}